.container{
    min-height: fit-content;
    
}
.rowstyle{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}



